# API
API_KEY=your-api-key

# Database
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/testdb

# Security
SECRET_KEY=super-secret-key
PASETO_SECRET_KEY=another-super-secret-key
PASSWORD_PEPPER=global-password-pepper
 
 REQUIRE_EMAIL_VERIFICATION=True
# Debug
DEBUG=True

# JWT / Auth
ACCESS_TOKEN_COOKIE_NAME=access_token
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Password Policy
PASSWORD_MIN_LENGTH=8
PASSWORD_REQUIRE_UPPERCASE=True
PASSWORD_REQUIRE_LOWERCASE=True
PASSWORD_REQUIRE_SPECIAL=True
PASSWORD_REQUIRE_DIGIT=True

# Hashids
HASHIDS_SALT=my-hashids-salt
HASHIDS_MIN_LENGTH=8

# SQLAlchemy
SQL_ECHO=False
DB_PRE_PING=True
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_TIMEOUT=30
DB_POOL_RECYCLE=1800

# Redis
REDIS_URL=redis://localhost:6379/0
REDIS_MAX_CONNECTIONS=10