<!DOCTYPE html>
<html lang="en">
<head>
     <title>Organization Invitation</title>
</head>
<body>
        <h1>You're Invited to Join {{ organization_name }}</h1>
        <p>Hello {{ user_name }},</p>
        <p>You have been invited to join the organization "{{ organization_name }}".</p>
        <p>Please click the link below to accept the invitation and join the organization:</p>
        <p><a href="{{ invitation_link }}">Accept Invitation</a></p>
        <p>If you did not expect this invitation, please ignore this email.</p>
        <p>Best regards,<br>{{ organization_name }} Team</p>
        
</body>
</html>